html, body {
    margin: 0;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}

.menu {
    width: 10%;
    height: 100vh;
    background-color: aqua;
    padding: 10px 20px 0px;
    text-align: center;
    position: fixed;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li{
    margin-top: 10px;
}

.menu ul li a {
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 70%; 
    min-height: 100vh;
    margin-left: 20%;
    margin-right: 0;
}

.header {
    min-height: 150px;
    display: flex;
    align-items: center;
    background-color: white;
}

.logo img {
    width: 150px; 
    margin-right: 20px; 
}

.slogan {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    margin-top: 20px;
}

.footer {
    background-color: rgb(91, 226, 152);
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px;
    bottom: 0;
}

.footer p {
    margin: 0;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer li {
    display: inline-block;
    margin-right: 10px;
}

td{
    border: 1px solid black;
}