html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: absolute;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 10%;
    height: 100vh;
    background-color: aqua;
    padding: 10px 20px 0px;
    position: fixed;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    text-decoration: none;
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 50%;
    height: 120px;
}
.logo img{
    max-width: 50px;
    max-height: 50px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 100px;
    flex-direction: row;
}