html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 90%;
    margin-left: 150px;
}
.menu {
    width: 10%;
    height: 100vh;
    background-color: aqua;
    padding: 10px 20px 0px;
    position: fixed;
}
.menu ul{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
}
.header {
    background: url("https://img.freepik.com/vetores-premium/modelo-de-logotipo-da-clinica-medica_8188-16.jpg") cover no-repeat;
    min-height: 150px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.slogan{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 100px;
    flex-direction: row;
}